PORT=3000
MONGODB_URL=mongodb+srv://nishantverma01042005:HY4UpjzZGcxNps8y@cluster1.zmbceon.mongodb.net/DailySales
GOOGLE_CLIENT_ID=506254581789-8c568ab2p6jfknib301ujllt1rqjqac1.apps.googleusercontent.com
FRONTEND_ORIGIN=http://localhost:5173
GOOGLE_CLIENT_SECRET=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
JWT_SECRET=15-mar